@model IEnumerable<Debt>

@foreach (var debtor in Model)
{
    <table class="table table-sm">
        <tr>
            <td>@debtor.NameOfDebtor</td>
            <td>@debtor.Value</td>
            <td>@debtor.Route</td>
        </tr>
    </table>
}

