<!DOCTYPE html>
<html>
<head>
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"]</title>
    }
        
    else
    {
        <title>Users</title>
    }

    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body class="m-2">

    <div class="container">
        <div class="row">
            <a asp-action="Logout" asp-controller="Account" class="btn btn-info col col-2 m-1 ">Logout</a>
            <a asp-action="Login" asp-controller="Account" class="btn btn-info col col-2 m-1">Login</a>
        </div>
        <div class="row">
            <a asp-action="Index" asp-controller="Home" class="btn btn-info col m-1">Start</a>
            <a asp-action="Index" asp-controller="Debt" class="btn btn-info col m-1">Długi</a>
            <a asp-action="Index" asp-controller="Route" class="btn btn-info col m-1">Trasy</a>
            <a asp-action="Create" asp-controller="Route" class="btn btn-info col m-1">Stwórz trasę</a>
            <a asp-action="Friends" asp-controller="User"  class="btn btn-info col m-1">Znajomi</a>
            <a asp-action="Index" asp-controller="Admin" class="btn btn-info col m-1">Panel Administrora</a>
            <a asp-action="Index" asp-controller="RoleAdmin" class="btn btn-info col m-1">Menadżer ról</a>
            <a asp-action="Register" asp-controller="User" class="btn btn-info col m-1">Zarejestruj</a>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </div>

            

    

</body>
</html>
