@model IDictionary<string, string>
@{
    ViewData["Title"] = "Zasady";
}

<h2>Zasady</h2>

<table class="table-bordered table">
    @foreach (var zasady in Model)
    {
        <tr>
            <td>@zasady.Key</td><td>@zasady.Value</td>
        </tr>
    }
</table>
